@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$primary-font: 'Poppins';
$primary-color: #313132;
$dark-brown: #482713;
$brown: #995424;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    color: $primary-color;
}